/*extend seccion cortes*/
.input, .inputMatambre, .inputCostilla, .inputFalda, .inputBocado, .inputAguja {
  width: 10rem;
  height: 2rem;
  border-radius: 2rem;
  border: solid 0.3rem black;
}
.input:hover, .inputMatambre:hover, .inputCostilla:hover, .inputFalda:hover, .inputBocado:hover, .inputAguja:hover {
  background-color: violet;
}

.inputAguja {
  background-color: rgb(42, 137, 252);
}

.inputBocado {
  background-color: rgb(117, 172, 238);
}

.inputFalda {
  background-color: rgb(117, 172, 238);
}

.inputCostilla {
  background-color: rgb(42, 137, 252);
}

.inputMatambre {
  background-color: rgb(117, 172, 238);
}

/*fin extend seccion cortes*/
* {
  margin: 0;
  padding: 0;
  /*font-size: 62.5%; /* 1rem = 10px */
}

a {
  color: black;
  font-size: 2rem;
  text-decoration: none;
}

body {
  background-image: url(../Img/fondo7.jpg);
}

header {
  color: rgb(42, 137, 252);
  background-color: black;
  border: solid 0.5rem rgb(42, 137, 252);
  border-radius: 1rem;
  display: flex;
  margin-bottom: 1rem;
}
header .logo {
  margin-bottom: 0.3rem;
  display: flex;
}
header .tituloHeader {
  font-size: 4rem;
  padding-left: 1;
  text-align: center;
  display: flex;
  justify-items: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
}
nav .menu {
  text-align: center;
}
nav .menu li {
  font-size: 1rem;
  background-color: rgb(42, 137, 252);
  border: solid 0.2rem black;
  display: inline;
  text-align: center;
}
nav .menu li:hover {
  background-color: rgb(42, 137, 252);
}

h2 {
  color: rgb(42, 137, 252);
  margin-bottom: 2.5rem;
  background-color: black;
  font-size: 2.5rem;
  border: solid 0.5rem rgb(42, 137, 252);
  border-radius: 1rem;
  text-align: center;
}

h3 {
  display: flex;
  justify-content: center;
  border: solid 0.5rem black;
  border-radius: 1rem;
  text-align: center;
  color: black;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

.card-en-index {
  font-size: 2rem;
  color: lightblue;
  text-align: center;
  border: solid 4px black;
  background-image: url(../Img/fondo3.jpg);
  max-width: 100%;
  padding: 20px;
}
.card-en-index .img-card-index {
  border: solid 4px black;
  border-radius: 0.5rem;
  width: 300px;
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.video-index {
  background-image: url(../Img/fondo3.jpg);
  border: solid 0.3rem black;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video-index .parrafo-de-video {
  font-size: 1.3rem;
  border: 0.3rem solid black;
  border-radius: 1rem;
  background-color: rgb(42, 137, 252);
  color: black;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.boxVideo {
  width: 26rem;
  height: 17rem;
}

.footer {
  font-size: 2rem;
  text-align: center;
  color: black;
}

#enlace-a-productos {
  font-size: 1.5rem;
  color: red;
  position: fixed;
  bottom: 0;
  right: 40px;
}
#enlace-a-productos:hover {
  background-color: rgb(144, 11, 253);
}

/*productos*/
.vaca {
  width: 80%;
  display: flex;
  justify-content: end;
}

.table {
  border: solid 0.3rem rgb(16, 59, 85);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(../Img/fondo3.jpg);
}

tr:hover {
  background-color: rgb(144, 11, 253);
}

.tabla1 {
  margin-right: 0.6rem;
  margin-bottom: 1.25rem;
}
.tabla1 .colorRojo {
  background-color: red;
}
.tabla1 .colorAzul {
  background-color: blue;
}
.tabla1 .colorVerde {
  background-color: green;
}

.tabla2 {
  margin-bottom: 1.25rem;
}
.tabla2 .colorRojo {
  background-color: red;
}
.tabla2 .colorAzul {
  background-color: blue;
}
.tabla2 .colorVerde {
  background-color: green;
}

.tabla3 {
  margin-right: 1rem;
}
.tabla3 .colorRojo {
  background-color: red;
}
.tabla3 .colorAzul {
  background-color: blue;
}
.tabla3 .colorVerde {
  background-color: green;
}

.tabla4 {
  margin-left: 2.4rem;
}
.tabla4 .colorRojo {
  background-color: red;
}
.tabla4 .colorAzul {
  background-color: blue;
}
.tabla4 .colorVerde {
  background-color: green;
}

/*servicios*/
.parrafoServicios {
  text-align: center;
  font-size: 1.2rem;
  background-image: url(../Img/fondo3.jpg);
  margin: 5rem;
  border: solid 0.3rem black;
  border-radius: 0.3rem;
}

.contenedorServicios {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  animation-duration: 8s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.contenedorServicios .imagenDelivery {
  border: solid 0.3rem black;
  border-radius: 0.4rem;
  max-width: 20rem;
  margin: 1rem;
}
.contenedorServicios .formularioServicios {
  background-image: url(../Img/fondo3.jpg);
  border: solid 0.3rem black;
  border-radius: 0.3rem;
  padding: 1rem;
}

.contenedorMaps {
  text-align: center;
  font-size: 2rem;
  height: auto;
  border: solid 0.3rem black;
  border-radius: 0.3rem;
  background-image: url(../Img/fondo3.jpg);
}

/*cortes*/
.contenedorCortes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contenedorCortes article {
  padding: 4rem;
  margin: 1rem;
}

.enlace-a-productos2 {
  background-color: rgb(42, 137, 252);
  font-size: 1.3;
  text-align: center;
  color: rgb(210, 60, 60);
  margin-top: 1.9;
  border: solid 0.3rem black;
  border-radius: 0.3rem;
}
.enlace-a-productos2 .clickAqui {
  color: rgb(104, 10, 104);
}

/*nosotros*/
.parrafoNosotros {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  background-image: url(../Img/fondo3.jpg);
  border: solid 0.3rem black;
  border-radius: 0.3rem;
}

.formularioNostros {
  text-align: center;
  background-image: url(../Img/fondo3.jpg);
  border: solid 0.3rem black;
  border-radius: 0.3rem;
  padding: 1rem;
  margin: 1rem;
}

/*# sourceMappingURL=estilo.css.map */
