//separaciones:
$separacion-margin-abajo: 2.5rem;
$separacion-margin-arriba: 1rem;

//bordes:
$borde-solid-05: solid 0.5rem;
$borde-radius-1: 1rem;

//paleta de colores:
$contenedor-celeste:rgb(42, 137, 252);
$contenedor-negro:black;

//